<li id="workout-<%= work_out.id %>">
  <span class="content"><%= work_out.training_menu.name %></span>
  <span class="content">重量　<%= work_out.weight %>kg</span>
  <span class="content"><%= work_out.rep %>回 × <%= work_out.set %>セット</span>
  <span class="timestamp">
    トレーニング日 <%= work_out.training_date %> 
  </span>
</li>
