<tr>
  <td><%= link_to work_out.training_date, work_out %></td>
  <td><%= link_to work_out.training_menu.name, work_out.training_menu %></td>
  <td><%= work_out.weight %></td>
  <td><%= work_out.rep %></td>
  <td><%= work_out.set_count %></td>
</tr>