<tr>
  <td><%= link_to work_out.training_date, work_out %></td>
  <td><%= link_to work_out.training_menu.name, work_out.training_menu %></td>
  <td><%= link_to work_out.weight, work_out %></td>
  <td><%= link_to work_out.rep, work_out %></td>
  <td><%= link_to work_out.set, work_out %></td>
</tr>
