<% provide(:title, 'All WorkOuts') %>
<h1>トレーニング履歴</h1>
<div class ="new_work">
</div>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">date</th>
      <th scope="col">training</th>
      <th scope="col">weight</th>
      <th scope="col">rep</th>
      <th scope="col">set</th>
    </tr>
  </thead>
  <tbody>
  <% @work_outs.each do |work_out| %>
    <tr>
      <td><%= link_to work_out.training_date, work_out %></td>
      <td><%= link_to work_out.training_menu.name, work_out.training_menu %></td>
      <td><%= work_out.weight %></td>
      <td><%= work_out.rep %></td>
      <td><%= work_out.set %></td>
    </tr>
  <% end %>
  </tbody>
</table>

