<tr align="center">
  <td><%= training_menu.name %></td>
  <td><%= training_menu.training_type %></td>
  <td><%= training_menu.body_part_main %></td>
  <td><%= training_menu.body_part_sub1 %></td>
  <td><%= training_menu.body_part_sub2 %></td>
  <% if logged_in? && current_user.admin? %>
    <td>
      <%= link_to "delete", training_menu, method: :delete,data: { confirm: "本当に削除しますか？" } %>
    </td>
  <% end %>
</tr>
